<!DOCTYPE html>
<html>
	<head>
	    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Your flight has been booked!</h1>
		<p><%= @passenger.name %>,</p>
		<p>Your flight from A to B has been booked. Thank you for choosing Odin Airlines!
		</p>
	</body>
</html>