/*Basic*/

h1 {
	text-align: center;
	text-decoration: underline;
}

/*Tables*/

table {
	width: 75%;
	border-collapse: collapse;
}
table,th,td {
	border: 1px solid black;
}

th {
	background-color: grey;
	height: 30px;
	text-decoration: underline;
}

td {
	text-align: center;
}

p {
	font-weight: bold;
}
